@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;800&display=swap");

:root {
  /* --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25); */

  --primary: #FFA360;
  --color2: #fe5b00;
  --color3: #ffffff;
  --buttonColor: #1f9ad6;


  /* ===Fonts and Typography===*/
  --body-font: "Open Sans", sans-serif;
  --second-font: "Poppins", sans-serif;

  --big-fon-size: 50px;
  --h1-font-size: 50px;
  --h2-font-size: 28px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;

  --title-color: #0cb000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body,
input,
textarea {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  font-weight: var(--weight-500) !important;
}

body {
  background-color: rgb(255, 255, 255) !important;
  color: black;
}

h1,
h3,
h4 {
  color: black;
  font-family: var(--body-font) !important;
  font-weight: var(--weight-700) !important;
}
h2{
  color: var(--title-color) !important;
  font-family: var(--body-font)!important;
  font-weight: var(--weight-700) !important;
  font-size: var(--h2-font-size) !important;
}

a {
  text-decoration: none !important;
}
p{
  padding: 0 !important;
  margin: 0 !important;

}

/*=====================reuseable css============= */

.container {
  max-width: 1140px !important;
  margin-inline: auto !important;
  padding-inline: 15px !important;
}

.boxContainer {
  max-width: 960px !important;
  /* max-height: 450px; */
  min-height: 540px !important;
  background-color: var(--color2) !important;
  position: absolute !important;
  top: 50% ;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.signInBox {
  background-color: var(--color3);
  height: 540px;
  width: 440px;
}

.boxMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------scrollbar----------- */

  ::-webkit-scrollbar {
    width: 12px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color:#f3813f; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color:var(--color2); 
  }

  ::-webkit-scrollbar-track {
    background-color:#acf49a;
  }

.signedInUser:hover{
cursor: pointer;
}
